<h1>This is the about page about Everton FC</h1>
<img src="/images/Everton_FC.jpg" alt="Everton">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate numquam cumque, corporis delectus harum non, deserunt fugiat necessitatibus esse nostrum sint porro! Ipsa asperiores quam sint officia tenetur doloribus excepturi!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam hic, iure fugiat id beatae numquam adipisci quia voluptatibus cupiditate, tenetur esse! Mollitia, earum ab perferendis similique enim molestiae atque dolor!</p>

