<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Home Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="container">
        <h1>Welcome to Home Page</h1>
    <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
    </nav> 
    <img src="images/Snoopy-Joe-Cool-The-Peanuts-Decal-Sticker__01408.1511154642_7e2cdadf-fc2e-4c47-b8e5-771422f88c74_1024x1024@2x.jpg" alt="Snoopy" width="400"
    <p> ipsum dolor, sit amet consectetur adipisicing elit. Beatae ipsam, numquam laudantium sunt autem inventore id praesentium natus, quis officiis perferendis temporibus? Quasi laudantium nesciunt non laboriosam ipsa dignissimos beatae?</p>>
    </div>
</body>
</html>